<h2>Thanks for your order</h2>
<p>
  Your order has been received
  </p>

  <p>
    <%= link_to 'Back to Home', root_path %>
    </p>

    <% @order.order_items.each do |item| %>
      <%= item.product.title %>
    <% end %>
