<section class="info">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 card">
        <h4>Contact Us</h4><br />
        <form action="https://formspree.io/contact@dreamhi.us" method="POST">
          <input type="text" name="name" placeholder="Your Name" class="btn">
          <input type="hidden" name="_subject" value="New Inquiry!" />
          <input type="email" name="_replyto" placeholder="Your Email here" class="btn">
          <textarea type="text" name="message" placeholder="Your Message" class="btn" style="height: 200px;"></textarea>
          <input type="submit" value="Send" class="btn">
        </form>
      </div>
      <div class="col-md-8 col-md-offset-2 col-sm-12 card">
        <h4>Join Our Mailing List</h4><br />
        <form action="https://formspree.io/contact@dreamhi.us" method="POST">
          <input type="hidden" name="_subject" value="New Email Submission!" />
          <input type="email" name="_replyto" placeholder="Your Email Here" class="btn">
          <input type="submit" value="Sign Up" class="btn">
        </form>
      </div>
    </div>
  </div>
</section>
