<section class="info">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 card">
        <h4>Contact Us</h4><br />
        <form action="https://formspree.io/contact@dreamhi.us" method="POST">
          <input type="text" name="name" placeholder="Your Name" class="btn" style="width: 80%;">
          <input type="hidden" name="_subject" value="New Inquiry!" style="width: 80%;"/>
          <input type="email" name="_replyto" placeholder="Your Email here" class="btn" style="width: 80%;">
          <textarea type="text" name="message" placeholder="Your Message" class="btn" style="height: 200px; width: 80%;"></textarea>
          <input type="submit" value="Send" class="btn">
        </form>
      </div>
      <div class="col-md-8 col-md-offset-2 col-sm-12 card">
        <h4>Join Our Mailing List</h4><br />
        <form action="https://formspree.io/contact@dreamhi.us" method="POST">
          <input type="hidden" name="_subject" value="New Email Submission!" style="width: 80%;"/>
          <input type="email" name="_replyto" placeholder="Your Email Here" class="btn" style="width: 80%;">
          <input type="submit" value="Sign Up" class="btn">
        </form>
      </div>
      <div class="col-md-8 col-md-offset-2 col-sm-12 card mobile">
        <h4>Hit Us Up</h4><br />
        <nav>
          <%= mail_to "contact@dreamhi.us", 'Email', class: "btn"%>
          <%= link_to "Instagram", "https://www.instagram.com/dreamhiiii/", target: '_blank', class: "btn"%>
          <%= link_to "Twitter", "https://www.twitter.com/dreamhiiii/", target: '_blank', class: "btn"%>
        </nav>
      </div>
    </div>
  </div>
</section>
