<section class="projects-home">
  <% @team.each do |project| %>
    <%= link_to project_path(project) do %>
      <%= image_tag project.image_1.url, :class => "prjct-btn" %>
    <% end %>
  <% end %>
</section>
