<section class='background-text'>
  <%=image_tag 'logo-basic.png'%>
  <h2>We provide brand consulting and merchandising for artists.</h2>
</section>

<section class="projects">
  <% @projects.each do |project| %>
    <%= link_to project_path(project) do %>
      <%= image_tag project.image_1.url, :class => "btn" %>
    <% end %>
  <% end %>
</section>
