// 1. FONTS & MIXINS
// 2. LAYOUTS APPLICATION
// 3. LOOKBOOK
// 3. PROJECTS INDEX
// 4. PROJECTS SHOW
// 5. PRODUCTS INDEX
// 6. PRODUCTS SHOW
// 7. PROJECTS INFO
// 8. CARTS SHOW
// 9. ORDERS NEW
// 10. ORDERS SHOW

// 1. FONTS & MIXINS ==========================================================

@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Space+Mono:400,400i,700,700i");
@import url("https://fontlibrary.org/face/tex-gyre-adventor");

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin btn() {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  line-height: 1.15;
  font-size: 1.333em;
  color: #333;
  border: 4px solid black;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  margin: 4px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  // -webkit-box-shadow: -8px 8px 0px rgba(0, 0, 0, 0.5);
  // -moz-box-shadow: -8px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);

  &:hover,
  &:active {
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 4px;
  }
}

// 2. LAYOUTS APPLICATION ==========================================================

html {
  font-size: 18px;
  background-image: asset-url("grid4.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

.mobile {
  display: none !important;
}

body {
  background: none;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  margin: 120px 24px 0 24px;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: asset-url("grid4.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input {
  text-align: left;
  outline: none;
}

select {
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "TeXGyreAdventorRegular";
  font-weight: 700;
  line-height: 1.15;
}

a {
  font-family: "Space Mono", monospace;
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 0;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.777em;
}

h5 {
  font-size: 1.333em;
}

small,
.text_small {
  font-size: 0.75em;
}

b {
  font-weight: 700;
}

.btn {
  @include btn();

  img {
    height: 24px;
  }
}

header {
  @include flex(space-between);
  position: fixed;
  top: 0;
  left: 0;

  height: 80px;
  width: 100vw;
  padding: 8px;

  z-index: 5;

  .logo img {
    height: 36px;
  }

  .search-cart {
    @include flex(flex-end);
    flex-wrap: nowrap;
  }

  .cart {
    height: 48px;
    width: 48px;
    @include flex(center);
  }

  // .btn {
  //   height: 50px;
  //   width: 50px;
  // }
}

section {
  margin-bottom: 80px;
  min-height: calc(100vh - 350px);
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

// .background {
//   position: fixed;
//   top: 0;
//   left: 0;
//   background-image: asset-url("grid4.png");
//   background-repeat: repeat;
//   background-size: 100%;
//   height: 100vh;
//   width: 100vw;
// }

.none {
  display: none;
}

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-40 {
  margin-bottom: 40px;
}

.cameo {
  font-family: "Space Mono", monospace;
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 8px 0 0 0;
  text-align: center;

  a:hover {
    color: black;
    text-decoration: underline;
  }
}

div.success,
div.error {
  background: red;
  color: black;
  padding: 10px 20px 10px 20px;
  width: 100vw;
  text-align: center;
  margin: 0;

  position: fixed;
  top: 0;
  left: 0;
}

div.alert {
  background: transparent;
  color: red;
  padding: 10px 20px 10px 20px;
  width: 100vw;
  margin: 0;

  position: fixed;
  top: 0;
  left: 0;
  animation-name: text;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

@keyframes text {
  0% {
    transform: translateX(-50vw);
  }
  20% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(25vw);
  }

  60% {
    transform: translateX(50vw);
  }

  80% {
    transform: translateX(75vw);
  }
  100% {
    transform: translateX(100vw);
  }
}

input,
select {
  @include btn();
  width: 120px;
}

footer {
  height: auto;
  padding: 20px;
  margin-top: 140px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;

  input[type="email"] {
    width: 224px;
    text-align: left;
  }

  nav a {
    font-size: 1em;
  }

  div {
    padding: 0;
    height: 100%;
    h5 {
      margin: 0 0 4px 0;
    }
  }
}

// 3. LOOKBOOK INDEX ==========================================================
.lookbook_imgs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  img {
    width: 25vw;
    margin: 16px;
    padding: 0;
  }
}

// 3. PROJECTS INDEX ==========================================================

.show-intro {
  transform: translateY(-100%);
}

.none {
  display: none;
}

.intro {
  background-image: asset-url("grid4.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: white;
  border: 4px solid black;
  height: 100%;
  width: 100%;
  z-index: 50;
  @include flex(center);
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 1.5s ease;
  div {
    text-align: center;
  }

  ul {
    margin-top: 24px;
  }

  h4 {
    margin: 16px 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  img {
    max-width: 400px;
    height: auto;
    padding: 20px 40px;
    margin: 0;
  }
}

.background-text {
  @include flex(center);
  background: none;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;

  img {
    width: 40%;
  }
}

.project_imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  img {
    width: 25vw;
    // max-height: 80vh;
  }
}

.projects {
  background: none;

  margin: auto;
  // margin-top: 80vh;
  height: 100%;
  width: auto;

  .container {
    width: 100%;
  }

  div {
    margin-bottom: px;
    text-align: center;
  }

  a img {
    @include btn();
    // border: none;

    margin: 16px;
    padding: 0;
  }
}

// 4. PROJECTS SHOW ==========================================================
.project {
  .navlinks {
    @include flex(flex-start);
  }

  img {
    margin-bottom: 40px;
    height: 80vh;
  }

  .strike {
    top: 4px;
    text-decoration: line-through;
    box-shadow: none;
  }
}

.card {
  padding: 32px 16px;
  border: 4px solid black;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
  // width: 400px;

  .btn {
    width: 50%;
    // height: 48px;
    display: inline-block;
  }

  .navlinks {
    width: 100%;
    margin: auto;
    @include flex(space-between);
  }
}

// 5. PRODUCTS INDEX ==========================================================

.products {
  background: none;

  margin: auto;
  height: 100%;
  width: auto;

  .container {
    width: 100%;
  }

  div {
    margin-bottom: 24px;
    text-align: center;
    // vertical-align: bottom;
  }

  a img {
    margin: 0;
    padding: 0;
  }

  .sold-out {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: transparent;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .sold-out:hover .overlay {
    opacity: 1;
    height: 100%;
  }

  .sold-out:hover img {
    opacity: 0;
  }

  .text {
    color: red;
    padding: 4px 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

// 6. PRODUCTS SHOW ==========================================================

.product {
  .strike {
    top: 4px;
    text-decoration: line-through;
    box-shadow: none;
  }

  .buttons {
    input,
    select {
      width: 100%;
    }
  }
}

// 7. PROJECTS INFO ==========================================================

.info {
  margin-top: 0;
  align-items: center;
  text-align: center;

  div {
    margin-bottom: 48px;
  }

  img {
    border: none;
    background: none;
    box-shadow: none;
    // width: 50%;

    &:hover {
      top: 0;
    }
  }

  .logo {
    width: 30%;
    margin-bottom: 24px;
  }
}

// 8. CART SHOW ==========================================================

.cart {
  h2 {
    margin-bottom: 40px;
  }
  a {
    @include btn();
  }

  table {
    width: 100%;
    margin-bottom: 40px;

    input {
      width: 42px;
    }

    th {
      text-align: left;
    }

    th,
    td {
      vertical-align: middle;
    }

    thead th {
      border-bottom: 1px solid black;
      padding: 0 0 10px 0;
    }

    tfoot th {
      border-top: 1px solid black;
      padding: 10px 0 0 0;
    }

    tbody th,
    tbody td {
      padding: 10px 0 10px 0;
    }

    td img {
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
  }
}

// 9. ORDERS NEW  ==========================================================
.checkout {
  input,
  select {
    width: 100%;
    font-size: 1em;
    // margin: 0;
  }
}

// 10. ORDERS SHOW  ==========================================================
.submitted {
  text-align: center;
  position: relative;

  img {
    max-width: 240px;
  }
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  h3,
  p {
    display: block;
    width: 100%;
    margin: 24px;
    padding: 0;
    line-height: 1.5em;
  }
}

// 11. RESPONSIVE  ==========================================================

@media (max-width: 1024px) {
  .alert {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  html {
    font-size: 24px;
  }

  body {
    background-position: center;
    background-repeat: no-repeat;
  }

  .lookbook_imgs img,
  .project_imgs img {
    width: 40vw;
    margin: 16px;
    padding: 0;
  }

  footer {
    div {
      text-align: center;
      margin: 0;
    }
    input[type="email"] {
      // width: 350px;
      text-align: left;
    }
  }
}

@media (max-width: 900px) {
  // html {
  //   font-size: 24px;
  // }

  .intro img {
    width: 100%;
  }

  .lookbook_imgs img,
  .project_imgs img {
    width: 80vw;
    margin: 16px;
    padding: 0;
  }
}
