

@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Space+Mono:400,400i,700,700i");
@import url("https://fontlibrary.org/face/tex-gyre-adventor");

$font-space: "Space Mono", monospace;
$font-karla: "Karla", sans-serif;
$font-tex: "TeXGyreAdventorRegular", Helvetica, sans-serif;
$black: #333;

@mixin breakpoint($class) {
  @if $class == mobile-only {
    @media (max-width: 425px) { @content; }
  }
  
  @else if $class == small-only {
    @media (max-width: 700px) { @content; }
  }

  @else if $class == tablet {
    @media (min-width: 425px) and (max-width: 768px) { @content; }
  }

  @else if $class == xs {
    @media (min-width: 375px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 700px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 960px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1280px) { @content; }
  }

  @else if $class == xl {
    @media (min-width: 1440px) { @content; }
  }

  @else if $class == xxl {
    @media (min-width: 1640px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: mobile-only, small-only, xs, sm, md, lg, xl, xxl";
  }
}

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin btn() {
  font-family: $font-space;
  font-weight: 700;
  line-height: 1.15;
  font-size: 1.333em;
  color: $black;

  border: 4px solid black;

  position: relative;
  display: inline-block;
  text-decoration: none;

  padding: 8px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  margin: 4px;
  min-width: 48px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);

  &:hover,
  &:active {
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 4px;
  }

    img {
    height: 24px;
  }
}

// utils
.mt {
  margin-top: 96px; 
  min-height: calc(100vh - 187px);
}

// begin styles

.background-text {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; 
  z-index: -1;
}

.grid-bkgrd{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

  z-index: -2;

  background: asset-url('grid4.png');
  background-size: cover; 
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start; 
  grid-gap: 16px; 
  padding: 16px; 

  @include breakpoint (sm){
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px; 
  }

  @include breakpoint (md){
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px; 
  }
}

.show-page {
  .container { 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }

  @include breakpoint (md){
    .container {
      align-items: flex-start;
      flex-direction: column; 
    }
    
    .images { 
      width: 60%;
      padding-top: 42px; 
    }

    .card {
      position: fixed;
      top: 106px;
      right: 24px;
      width: 40%;
    }
  }
}

.project {
  padding: 24px; 
}
.projects-show {
  display: flex;
  flex-direction: column; 
  align-items: center;
  .images {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px; 
    align-items: flex-end; 
    padding-bottom: 24px; 

  @include breakpoint(md){
    grid-template-columns: 1fr 1fr;
    
  }

  @include breakpoint(lg){
    grid-template-columns: repeat(3, 1fr);
  }
  }

  .card {
    min-width: 300px; 
    
  }
  
  
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr; 
  justify-items: center; 
  align-items: flex-end; 
  grid-gap: 24px; 

  padding: 16px; 

  @include breakpoint (sm){
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px; 
  }
}

.products .container {
  padding-top: 32px; 
}

.product { text-align: center; }

.btn { @include btn(); }


html { font-size: 18px; }

body { 
  position: relative;
  min-height: 100vh;
  font-family: $font-tex;
  font-weight: 400;
  line-height: 1.45;
  color: $black;
}

header {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 64px; 
  z-index: 100;

  padding: 16px;

  .container {
    display: flex; 
    flex-wrap: nowrap;
    @include flex(space-between);
    height: 100%;
    width: 100%;
  }
}

.intro {
  height: 100vh;
  width: 100%;
  @include flex(center);

  .conatiner, ul {
    @include flex(center);
    flex-wrap: wrap;
  }

  .image {
    @include flex(center);
  }

  img { 
    max-width: 320px;
    padding: 32px; 
  }

  @include breakpoint (small-only){
    .container { max-width: 400px; }
  }

  @include breakpoint(md){
    height: calc(100vh - 130px);
  }
}



.card {
  padding: 16px;
  border: 4px solid black;
  // display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
  // // width: 400px;
  margin: 16px; 

  iframe { border-radius: 5px; }

  .btn {
    width: 50%;
    display: inline-block;
  }

  .navlinks {
    width: 100%;
    margin: auto;
    @include flex(space-between);
  }
}

.product-card {
  text-align: left; 

  h4, h5 { 
    text-transform: uppercase;
  }
}


.contact .card {
  text-align: center;
  max-width: 880px; 
  margin: 36px auto;
}

.info .card {
  text-align: center;
  max-width: 880px; 
  margin: 36px auto;
  padding: 24px 16px; 

  img {
    width: 300px; 
    margin-bottom: 36px; 
  }
}

.team {
  .card { margin-top: 0; }
}

.team-grid {
  padding: 16px; 
  display: grid;
  grid-template-columns: 1fr;

  .card {
    max-width: 400px; 
    margin: auto; 
  }

  @include breakpoint (sm){
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint (sm){
    grid-template-columns: repeat(3, 1fr);
  }
}



.video-card { 
  max-width: 1200px;
  margin: auto;
  margin-bottom: 32px; 
}


input {
  text-align: left;
  outline: none;
}

select {
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-tex;
  font-weight: 700;
  line-height: 1.15;
}

a {
  font-family: $font-space;
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 0;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.777em;
}

h5 {
  font-size: 1.333em;
}

small,
.text_small {
  font-size: 0.75em;
}

b {
  font-weight: 700;
}

div.success,
div.error {
  background: red;
  color: black;
  padding: 10px 20px 10px 20px;
  width: 100vw;
  text-align: center;
  margin: 0;

  position: fixed;
  top: 0;
  left: 0;

  // z-index: 2;
}

div.alert {
  background: transparent;
  color: red;
  padding: 10px 20px 10px 20px;
  margin: 0;

  text-transform: uppercase;
  font-weight: 900;

  position: fixed;
  left: 0;
  height: 100%;
  width: 300%;
  animation: text 20s linear infinite;

  z-index: -1;

  p {
    letter-spacing: 1px;
    font-size: 20px;
  }
}

@keyframes text {
  0%    { left: 100%; }
  100%  { left: -200%; }
}

input,
select {
  @include btn();
  width: 120px;
}

  .sold-out {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: transparent;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .sold-out:hover .overlay {
    opacity: 1;
    height: 100%;
  }

  .sold-out:hover img {
    opacity: 0;
  }

  .text {
    color: red;
    padding: 4px 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  

.product {
  .strike {
    top: 4px;
    text-decoration: line-through;
    box-shadow: none;
  }

  h5 { 
    font-weight: 900; 
    text-transform: uppercase; 
  }

  .buttons {
    input,
    select {
      width: 98%;
    }
  }
}

.product-card { 
  max-width: 500px;
  h3 { text-transform: uppercase; }

  .quantity { 
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

.cart {
  h2 {
    margin-bottom: 40px;
  }
  a {
    @include btn();
  }

  table {
    width: 100%;
    margin-bottom: 40px;

    input {
      width: 42px;
    }

    th {
      text-align: left;
    }

    th,
    td {
      vertical-align: middle;
    }

    thead th {
      border-bottom: 1px solid black;
      padding: 0 0 10px 0;
    }

    tfoot th {
      border-top: 1px solid black;
      padding: 10px 0 0 0;
    }

    tbody th,
    tbody td {
      padding: 10px 0 10px 0;
    }

    td img {
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
  }
}

.checkout {
  input,
  select {
    width: 100%;
    font-size: 1em;
  }
}

.submitted {
  text-align: center;
  position: relative;

  img {
    max-width: 240px;
  }
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  h3,
  p {
    display: block;
    width: 100%;
    margin: 24px;
    padding: 0;
    line-height: 1.5em;
  }
}


footer {
  
  bottom: 0;
  left: 0;
  
  width: 100%;
  padding: 16px;
  margin-top: 32px; 

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px; 

    height: 100%;
    width: 100%;
  }

  nav { text-align: left; }
  form { text-align: right; }

  @include breakpoint (small-only){
    nav, form { text-align: center; }
    .container { 
      grid-template-columns: 1fr;
      flex-wrap: wrap;
    }

    .btn {
      width: 100%;
      max-width: 300px;
    }
  }

  @include breakpoint (sm){
    input[type=email]{ width: 240px;  }    
  }

  @include breakpoint (md){
   .container { grid-template-columns: repeat(3, 1fr); }
    nav { order: 1; }
    form { order: 3; }
  }
}

  .bottom-text { 
    grid-column: 1/-1;
    text-align: center; 
    font-weight: 900;
    letter-spacing: 1px; 

    @include breakpoint (md){
      order: 2; 
      grid-column: auto; 
    }
  }

  .bri-text:hover {
    text-decoration: underline;
  }
  .order-summary { text-align: center; }

  .cart-items {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-gap: 24px; 
    margin-bottom: 24px; 

    input, select {
      width: 240px;
      margin-bottom: 16px; 
    }

    .btn { width: 240px; }
    .cart-item { text-align: center; }

    h3 { text-transform: capitalize; }
    img { max-width: 220px; }

    @include breakpoint (sm){
      grid-template-columns: repeat(3, 1fr);
    }
  }


  .checkout form {
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 24px; 

    .payment input { width: 100%; }

    h2 {
      display: inline-block;
      margin-left: 24px; 
    }

    input { height: 44px; }

    @include breakpoint (md){
      grid-template-columns: repeat(3, 1fr);
      h2 { grid-column: 1/-1; }
    }
  }