// fonts
@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Space+Mono:400,400i,700,700i");
@import url("https://fontlibrary.org/face/tex-gyre-adventor");

// mixins
@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin btn() {
  border: 4px solid black;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  margin: 4px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  // -webkit-box-shadow: -8px 8px 0px rgba(0, 0, 0, 0.5);
  // -moz-box-shadow: -8px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);

  &:hover,
  &:active {
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 4px;
  }
}

// main code
html {
  font-size: 18px;
}

body {
  // margin-top: 100px;
  background-color: white;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: "TeXGyreAdventorRegular";
  font-weight: 400;
  line-height: 1.15;
}

a {
  font-family: "Space Mono", monospace;
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.777em;
}

h5 {
  font-size: 1.333em;
}

small,
.text_small {
  font-size: 0.75em;
}

header {
  @include flex(space-between);
  position: fixed;
  top: 0;
  left: 0;

  height: 80px;
  width: 100vw;
  padding: 8px;

  z-index: 5;

  div {
    display: inline-flex;
    align-items: center;

    .btn img,
    .cart {
      // @include btn();
      height: 48px;
      padding: 8px;
      // margin: 4px;
    }

    .cart {
      width: 48px;
      @include flex(center);
    }

    .logo img {
      height: 64px;
    }
  }
}

// .btn {
//   @include btn();
// }

div.container {
  // background-color: green;
  // width: 90%;
  // height: 100%;
  // // padding: 0 20px;
  // margin: auto;
}

.btn {
  @include btn();
}

section.background-text {
  h2 {
    font-family: "Karla", sans-serif;
    font-weight: bold;
    margin: 24px;
  }

  img {
    width: 30%;
  }

  background: none;
  position: fixed;

  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -5;
}

.prjct-btn,
.prdct-btn {
  margin: 4px;
  // @include btn();
}

section.projects-home {
  @include flex(center);
  flex-wrap: wrap;

  margin-top: 90vh;
  padding: 0 20px;
  height: 100%;
  width: 100%;

  img {
    @include btn();
    height: 40vh;
    margin: 32px;
  }
}

section.product-show {
  @include flex(center);
  height: 100%;
  width: calc(100vw-40px);
  margin: 120px 20px;

  div {
    height: 100%;
  }

  div.product_images {
    width: 60%;

    img {
      width: 560px;
    }
  }

  div.product_info {
    @include btn();
    @include flex(flex-start);
    // align-items: flex-start;
    flex-wrap: wrap;

    padding: 16px;
    width: 25%;

    &:hover,
    &:active {
      box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
      position: relative;
      top: 0px;
    }
  }
}

footer {
}
