<section class="products">
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-lg-3 product">
          <%= link_to product_path(product) do %>
            <%= image_tag product.image_1.url %>
            <h5><%= product.title%></h5>
            <p><%= number_to_currency product.price%></p>
          <% end %>
          </div>
      <% end %>
      </div>
    </div>

</section>
